/* 
	http://tedgodyla.nl/gridsystem 
  	v 0.0.1
  	License: none (public domain)
*/

html {
  	height: 100%;
  	overflow-y: scroll;
  	overflow-x: hidden;  
  	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
}

body {
	background: #fff;
	color: #000;
	min-width: 456px;
	overflow: auto;
	min-height: 90%;
}

.grid {
	position: relative;
	overflow: visible;
	margin: 12px 0px 0px 12px;
}

.block {
	position: relative;
	height: 220px;
	width: 250px;
	margin-bottom: 12px;
	margin-right: 12px;
	float: left;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f8f8f8;
}

.clear {
	clear: both;
}





